.developer{
    display: flex;
    justify-content: center;
}
.stack{
    width: 1500px;
    height: 400px;
    margin-left: 30%;
}
.content{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
}